mat-card {
  mat-card-header {
    .mat-card-avatar {
      width: 3rem;
      height: 3rem;
      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        text-align: center;
      }
    }
    mat-card-title {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    mat-card-subtitle {
      margin-top: 0 !important;
      margin-bottom: 0;
    }
  }
  mat-card-content {
    border-top: 1px solid rgba(0,0,0,.14);
    padding-top: 1rem;
  }
}
