<ng-container *ngIf="issue">
  <button mat-raised-button color="primary" routerLink="/">Issues list</button>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>announcement</mat-icon>
      </div>
      <mat-card-title>#{{issue.id}}: {{issue.title}}</mat-card-title>
      <mat-card-subtitle>{{issue.state | state}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{issue.description}}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
