<button mat-raised-button color="primary" routerLink="/">Issues list</button>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="createIssue()">
      <div>
        <mat-form-field>
          <input matInput required placeholder="Title" name="title" [(ngModel)]="issue.title">
          <mat-error *ngIf="issue.title === ''">You must enter a title</mat-error>
        </mat-form-field>
      </div>
      <div class="textarea">
        <mat-form-field>
          <textarea matInput required placeholder="Description" name="description" [(ngModel)]="issue.description"></textarea>
          <mat-error *ngIf="issue.description === ''">You must enter a description</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" [disabled]="issue.title === '' || issue.description === ''">Create</button>
    </form>
  </mat-card-content>
</mat-card>
