<div>
  <mat-icon>mood_bad</mat-icon>
  <p>It seems like this page does not exist...</p>
  <p><a href="mailto:slawomir.jedlikowski+isuuetracker@gmail.com">Contact us</a>, maybe we can do something about it.</p>
</div>
