<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <button mat-raised-button color="primary" routerLink="issues/create">New issue</button>
  <mat-table [dataSource]="issues" class="mat-elevation-z8">

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef>Created at</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdAt}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element"><a routerLink="issues/{{element.id}}">#{{element.id}}: {{element.title}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let element">

        <mat-chip-list [ngSwitch]="element.state">
          <ng-template [ngSwitchCase]="state.Open">
            <mat-chip [color]="'primary'" selected>{{element.state | state}}</mat-chip>
          </ng-template>
          <ng-template [ngSwitchCase]="state.Pending">
            <mat-chip [color]="'accent'" selected>{{element.state | state}}</mat-chip>
          </ng-template>
          <ng-template [ngSwitchCase]="state.Closed">
            <mat-chip [color]="'warn'" selected>{{element.state | state}}</mat-chip>
          </ng-template>
          <ng-template ngSwitchDefault></ng-template>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="changeState">
      <mat-header-cell *matHeaderCellDef>Change state</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-state">
        <mat-chip-list>
          <mat-chip *ngIf="element.canBePending()" (click)="setState(element, state.Pending)" color="accent" selected>Pending</mat-chip>
          <mat-chip *ngIf="element.canBeClosed()" (click)="setState(element, state.Closed)" color="warn" selected>Closed</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)="showRemoveDialog(element.id)">delete_forever</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</ng-container>
