mat-spinner {
  margin: 5rem auto;
}

mat-table {
  mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
    flex: 4;
  }
  mat-cell.change-state {
    mat-chip {
      cursor: pointer;
    }
  }
  mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
    max-width: 2rem;
    text-align: center;
    mat-icon {
      cursor: pointer;
      width: 100%;
    }
  }
  mat-chip {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
}
